@use "../../scss/globals.scss" as *;

/**
* This should all be overridable defaults. Just the bare minimum
* to make it seem like a slideshow out of the box.
* TODO: This is unchecked. Evaluate what are preferable,
* overridable defaults.
*/

.slideshow-wrapper {
  position: relative;
}

.slide-wrapper {
  position: absolute;
  width: 100vw;
  overflow: hidden;
  z-index: 0;
}

.slide {
  z-index: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0;
  transform: scale(1.5);
  transition:
    opacity 1s ease-in-out,
    transform 2s ease-in-out;
  will-change: opacity, transform;

  &.active {
    opacity: 1;
    transform: scale(1);
  }
}

.content-wrapper {
  position: relative;
  top: 0;
}

.content {
  position: relative;
  transition: top 400ms ease;

  &.active {
    display: block;
  }
}

.thumbnail {
  position: relative;
}

.visually-hidden {
  display: none;
}

.overlay-wrapper-1,
.overlay-wrapper-2 {
  position: absolute;
  pointer-events: none;
  width: 100vw;
  top: 0;
}

.overlay {
  position: absolute;
  width: 100vw;
  opacity: 0;

  &.active {
    opacity: 1;
  }
}

.debug {
  opacity: 0.5;
  z-index: 1000;
  position: absolute;
  top: 0;
  font-size: 8px;
  display: none;
}

.directional-button-wrapper {
  button {
    cursor: pointer;
  }
}
