@use "../../scss/globals.scss";

/**
* This should all be overridable defaults. Just the bare minimum
* to make it seem like a slideshow out of the box.
* TODO: Evaluate what are good, overridable defaults.
*/

.slideshowWrapper {
  position: relative;
  &.disableUI {
    .arrowButtonWrapper,
    .thumbnailButtonWrapper {
      button {
        pointer-events: none;
        cursor: not-allowed;
      }
    }
  }
}

.slideWrapper {
  position: absolute;
  width: 100vw;
  overflow: hidden;
  z-index: 0;

  .slide {
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0;
    transform: scale(1.5);
    transition:
      opacity 1s ease-in-out,
      transform 2s ease-in-out;
    will-change: opacity, transform;

    &.active {
      opacity: 1;
      transform: scale(1);
    }
  }
}

.contentWrapper {
  position: relative;
  top: 0;

  .content {
    position: relative;
    transition: top 400ms ease;

    &.active {
      display: block;
    }
  }
}

.thumbnail {
  position: relative;
}

.visuallyHidden {
  display: none;
}

.overlayWrapper1,
.overlayWrapper2 {
  position: absolute;
  pointer-events: none;
  width: 100vw;
  top: 0;

  .overlay {
    position: absolute;
    width: 100vw;
    opacity: 0;

    &.active {
      opacity: 1;
    }
  }
}
