// Overridable defaults. Even though this is an example of a complete custom component,
// styling alone would usually make this as custom as it needs to be, so we're doing
// most of the the styling elsewhere — globally — in the demo to show how it would
// usually be done, and what's here is just defaults to make it visually make
// sense out of the box before any custom styling is applied.

.stepper-button-wrapper {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  button {
    cursor: pointer;
  }
}
