// Overridable defaults. Even though this is an example of a fully custom component,
// styling alone would usually make this as custom as it needs to be, so we're styling
// this globally (elsewhere) in the demo to show how it would usually be done, and
// what's here is just the defaults used so it visually makes sense out of the box
// before any custom styling is applied.

.indexed-button-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.indexed-button {
  position: relative;
  cursor: pointer;
  border: 0;
  outline: 0;
  padding: 0;
  width: 100px; // Arbitrary default
  opacity: 0.7; // Arbitrary default
  img {
    width: 100%;
  }
  &.active {
    cursor: default;
    opacity: 1;
  }
}
