@use "scss/globals.scss" as *;

$bpmin: 360px; // Min width inferred from designs (though 320px is supported)
$bpmax: 1366px; // Max width inferred from designs

$demos: ("demo1-", "demo2-", "demo3-");

.slideshow-demo {
  position: relative;
}

:global {
  // Styling globally to demonstrate reusability of the component.

  // Prefixing all classes instead of relying on nesting to avoid specificity/
  // override issues and to prevent bloating the output CSS.
  @each $demo in $demos {
    .#{$demo}slideshow {
      box-sizing: border-box;
      color: white;
      max-width: 100vw;
      overflow: hidden;
      background-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0) 15%,
        #000 15%
      );

      // Using fluid properties is a liberty taken in the absence of
      // breakpoints or tablet design provisons. This would not necessarily
      // be done in production if text style guide or mobile designs are provided.
      // And should never be done on large bodies of text or intricate table layouts.
      @include fluid-property(margin-top, $bpmin, $bpmax, 76px, 66px);
      @include mobile-portrait-hoverless {
        @include fluid-property(margin-top, $bpmin, $bpmax, 5px, 66px);
      }
      .#{$demo}overlay-wrapper-1,
      .#{$demo}overlay-wrapper-2,
      .#{$demo}content-wrapper,
      .#{$demo}slide-wrapper {
        @include fluid-property(margin-top, $bpmin, $bpmax, 30px, 86px);
      }
    }

    .#{$demo}content-wrapper {
      transition: height 0.9s ease-out;
      @include fluid-property(min-height, $bpmin, $bpmax, 390px, 506px);

      * {
        will-change: opacity, transform;
      }

      a {
        text-decoration: none;
        cursor: pointer;
      }

      h3 {
        margin-top: 0;
        @include fluid-property(width, $bpmin, $bpmax, 47%, 52%);
        @include fluid-property(margin-bottom, $bpmin, $bpmax, 84px, 73px);
        @include fluid-property(line-height, $bpmin, $bpmax, 1.1em, 1.05em);
        @include fluid-property(letter-spacing, $bpmin, $bpmax, 0.04em, 0.02em);
        @include fluid-property(font-size, $bpmin, $bpmax, 16px, 30px);
      }

      h2 {
        font-weight: 900;
        margin-top: 0;
        max-width: 87vw;
        @include fluid-property(letter-spacing, $bpmin, $bpmax, 0.03em, 0.01em);
        @include fluid-property(font-size, $bpmin, $bpmax, 35px, 49px);
        @include fluid-property(margin-bottom, $bpmin, $bpmax, 16px, 14px);
      }

      p {
        margin-top: 0;
        font-size: 14px;
        font-weight: 500;
        max-width: 83vw;
        @include fluid-property(line-height, $bpmin, $bpmax, 1.5em, 1.65em);
        @include fluid-property(
          letter-spacing,
          $bpmin,
          $bpmax,
          0.01em,
          0.072em
        );
        @include fluid-property(width, $bpmin, $bpmax, 300px, 500px);
        @include fluid-property(margin-bottom, $bpmin, $bpmax, 25px, 32px);
      }

      button,
      a {
        font-size: 12px;
        display: inline-block;
        font-weight: 700;
        background-color: transparent;
        color: white;
        border: 2.5px solid #fff;
        border-radius: 50px;
        text-align: center;
        letter-spacing: 0.045em;
        @include fluid-property(padding-top, $bpmin, $bpmax, 6px, 10px);
        @include fluid-property(padding-bottom, $bpmin, $bpmax, 5px, 9px);
        @include fluid-property(padding-left, $bpmin, $bpmax, 5px, 12px);
        @include fluid-property(padding-right, $bpmin, $bpmax, 5px, 12px);
        @include fluid-property(margin-bottom, $bpmin, $bpmax, 6px, 9px);

        &.cta {
          background-color: #fff;
          color: #000;
          display: block;
          font-weight: 900;
          font-size: 15px;
          letter-spacing: 0.045em;
          display: inline-block;
          cursor: pointer;
          margin-bottom: 25px;
          @include fluid-property(padding-top, $bpmin, $bpmax, 12px, 16px);
          @include fluid-property(padding-bottom, $bpmin, $bpmax, 12px, 17px);
          @include fluid-property(padding-left, $bpmin, $bpmax, 12px, 14px);
          @include fluid-property(padding-right, $bpmin, $bpmax, 12px, 14px);
        }
      }
    }

    .#{$demo}content {
      position: absolute;
      padding-right: 28px;
      pointer-events: none;
      visibility: hidden;
      will-change: visibility;
      transition: visibility 0.3s; /* Avoids flicker */
      @include fluid-property(padding-top, $bpmin, $bpmax, 20px, 78px);
      @include fluid-property(margin-left, $bpmin, $bpmax, 28px, 79px);

      > * > * {
        position: relative;
        transform: translateY(10vw) translateZ(0);
        will-change: unset;
        opacity: 0.01;
        transition:
          opacity 0.4s linear,
          transform 1s ease-out;
        transition-delay: calc(
          (var(--numChildren) - var(--childIndex) - 1) * 0.08s
        );
      }

      &.#{$demo}active {
        visibility: visible;
        pointer-events: all;
        > * > * {
          will-change: opacity, transform;
          transform: translateY(0);
          opacity: 1;
          transition-delay: calc(var(--childIndex) * 0.2s + 0.1s);
        }
      }

      &.#{$demo}previous {
        visibility: visible;
        > * > * {
          will-change: opacity, transform;
          transform: translateY(10vw) translateZ(0);
          opacity: 0.01;
          transition:
            opacity 0.4s linear,
            transform 0.4s ease-out;
        }
      }
    }

    .#{$demo}slide-wrapper {
      @include fluid-property(height, $bpmin, $bpmax, 225px, 767px);
    }

    .#{$demo}overlay-wrapper-1,
    .#{$demo}overlay-wrapper-2 {
      max-height: 100%;
      @include fluid-property(height, $bpmin, $bpmax, 226px, 768px);
    }

    .#{$demo}slide-wrapper {
      background-color: #000;
      .#{$demo}slide-1 {
        @include fluid-property(
          background-position-x,
          $bpmin,
          $bpmax,
          50px,
          100px
        );
      }
      .#{$demo}slide-3 {
        @include fluid-property(
          background-position-x,
          $bpmin,
          $bpmax,
          50px,
          100px
        );
      }
      .#{$demo}slide-4 {
        @include fluid-property(
          background-position-x,
          $bpmin,
          $bpmax,
          60px,
          200px
        );
      }
      .#{$demo}slide-5 {
        @include fluid-property(
          background-position-x,
          $bpmin,
          $bpmax,
          20px,
          0px
        );
      }
    }

    .#{$demo}overlay-wrapper-1 {
      $offset: clamp(-80px, -6.05vw, -0px);
      .#{$demo}overlay {
        display: none;
      }
      .#{$demo}overlay-1-1 {
        display: block;
        height: 100vw;
        background-image: url("@/assets/images/1-foreground.webp");
        background-repeat: no-repeat;
        margin-top: $offset;
        transform: translateX(50vw);
        transition:
          opacity 1s linear,
          transform 1s ease-out;
        @include fluid-property(
          background-position-x,
          $bpmin,
          $bpmax,
          103%,
          100%
        );
        @include fluid-property(background-size, $bpmin, $bpmax, 127px, 433px);
        &.#{$demo}active {
          transform: translateX(-16.1vw);
          opacity: 1;
        }
      }
    }

    .#{$demo}overlay-wrapper-2 {
      // From SPS. Changed to #000 to overlap the BG seamlessly.
      // to left,
      // rgba(37, 45, 55, 0) 40%,
      // #000000 72.92%,
      // #09101a 100%
      background: linear-gradient(
          to left,
          rgba(0, 0, 0, 0) 40%,
          #000 72.92%,
          #000 100%
        ),
        linear-gradient(to bottom, rgba(0, 0, 0, 0) 65%, #000000 90%);
    }
  }

  //////////////////////////////////////////////////////////////////
  // Rico Slideshow Config 1
  //////////////////////////////////////////////////////////////////

  $demo1: list.nth($demos, 1);

  .#{$demo1}stepper-button-wrapper {
    display: none;
  }

  .#{$demo1}indexed-button-wrapper {
    display: grid;
    gap: 2vw;
    grid-template-columns: repeat(3, 1fr);

    @include fluid-property(gap, $bpmin, $bpmax, 0px, 40px);
    @include fluid-property(margin-top, $bpmin, $bpmax, 10px, 34px);
    @include fluid-property(padding-bottom, $bpmin, $bpmax, 80px, 51px);
    @include fluid-property(margin-left, $bpmin, $bpmax, 22px, 88px);
    @include fluid-property(margin-right, $bpmin, $bpmax, 22px, 88px);
    @include breakpoint-up($b992px) {
      display: flex;
      align-items: flex-end;
      gap: 26px;
    }
  }

  button.#{$demo1}indexed-button {
    cursor: pointer;
    opacity: 0.7;
    overflow: hidden;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
    border: 0;
    background-repeat: no-repeat;
    background-color: transparent;
    background-size: contain;
    background-position: center center;
    aspect-ratio: 1 / 1;
    max-width: 164px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: center;
    transition: transform 0.3s ease-out;

    @include breakpoint-up($b360px) {
      min-width: 30%;
    }

    @include breakpoint-up($b992px) {
      min-width: unset;
      width: 110px;
      max-width: 176px;
      position: relative;
      top: 8px;
    }

    &.#{$demo1}active {
      background-image: url("@/assets/images/border.svg");
      opacity: 1;
      cursor: default;
      @include breakpoint-up($b992px) {
        width: 20%;
        top: 0;
        transition: none;
      }
      &:hover {
        transform: scale(1);
      }
    }

    img {
      display: block;
      border-radius: 5%;
      width: 86%;
      max-width: 144px;
      // Disable long press on mobile.
      -webkit-user-select: none;
      -webkit-touch-callout: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }

    &:hover {
      opacity: 0.9;
      transform: scale(1.1);
    }
  }

  @media (hover: none) {
    .#{$demo1}slideshow {
      button.#{$demo1}indexed-button {
        &:hover {
          // Disable hover scale, since it sticks after touch. 🤪
          transform: scale(1);
        }
      }
    }
  }

  //////////////////////////////////////////////////////////////////
  // Rico Slideshow Config 2
  //////////////////////////////////////////////////////////////////

  $demo2: list.nth($demos, 2);

  .#{$demo2}indexed-button-wrapper {
    display: none;
  }

  .#{$demo2}stepper-button-wrapper {
    transform: scale(1.5);
    position: relative;
    margin-top: 10px;
    margin-bottom: 40px;
    button {
      margin: 0 5px;
      background-color: transparent;
      border: 0;
      font-size: 0;
      line-height: 0;
      height: 22px;
      opacity: 0.82;
      &:hover {
        opacity: 1;
      }
      &.#{$demo2}previous {
        &:before {
          content: "";
          width: 0;
          height: 0;
          border-top: 10px solid transparent;
          border-bottom: 10px solid transparent;
          border-right: 22px solid #fff;
        }
      }
      &.#{$demo2}pause {
        position: relative;
        width: 22px;
        &::before,
        &::after {
          content: "";
          position: absolute;
          background-color: #fff;
          width: 8px;
          height: 22px;
          top: 0;
        }
        &::before {
          left: 0;
        }
        &::after {
          right: 0;
        }
      }
      &.#{$demo2}resume {
        width: 22px;
        &:before {
          $play-mask: "\"data:image/svg+xml,%3C?xml version='1.0' " +
            "encoding='UTF-8'?%3E%3Csvg id='a' xmlns='http://www.w3.org/2000/svg' " +
            "width='1in' height='1in' viewBox='0 0 72 72'%3E%3Cpath " +
            "d='M0,0v72h72V0H0ZM22.33,55.31V16.69l36.27,19.31-36.27,19.31Z' " +
            "fill='%23fff'/%3E%3C/svg%3E\"";

          content: "";
          position: absolute;
          width: 26px;
          height: 26px;
          top: -2px;
          transform: translateX(-50%);
          background-color: #fff;
          mask-image: url(#{$play-mask});
          mask-size: contain;
          mask-repeat: no-repeat;
          border-radius: 6px;
        }
      }
      &.#{$demo2}next {
        &:before {
          content: "";
          width: 0;
          height: 0;
          border-top: 10px solid transparent;
          border-bottom: 10px solid transparent;
          border-left: 22px solid #fff;
        }
      }
    }
  }

  //////////////////////////////////////////////////////////////////
  /// Rico Slideshow Config 3
  //////////////////////////////////////////////////////////////////

  $demo3: list.nth($demos, 3);

  .#{$demo3}stepper-button-wrapper {
    display: none;
  }

  .#{$demo3}indexed-button-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-top: 20px;
    margin-bottom: 40px;
  }

  button.#{$demo3}indexed-button {
    display: flex;
    background-color: transparent;
    border-radius: 50%;
    font-size: 0;
    line-height: 0;
    border: 2px solid #fff;
    width: 15px;
    height: 15px;
    overflow: hidden;
    outline: 0;
    margin: 0 5px;
    cursor: pointer;
    padding: 0;

    &.#{$demo3}active {
      background-color: #fff;
    }

    img {
      display: none;
    }

    &:hover {
      opacity: 0.9;
      transform: scale(1.1);
    }
  }
}
